<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Medic Up</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div
      class="alert alert-success alert-dismissible fade show text-center mb-0"
      role="alert"
    >
      <strong>Welcome to our Medic UP website</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">MEDIC UP</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stroke">Stroke Test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Me</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="false"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="height: 500px">
          <img
            src="https://source.unsplash.com/random/900x600/?heart,brain"
            class="img-fluid w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Lets's Explore the website</h5>
            <p>
              We empower and try to give you the best predicted result possible
              by the machine learning algorithms.
            </p>
          </div>
        </div>
        <div class="carousel-item" style="height: 500px">
          <img
            src="https://source.unsplash.com/random/900x600/?hospital"
            class="img-fluid w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Lets's Explore the website</h5>
            <p>
              We empower and try to give you the best predicted result possible
              by the machine learning algorithms.
            </p>
          </div>
        </div>
        <div class="carousel-item" style="height: 500px">
          <img
            src="https://source.unsplash.com/random/900x600/?doctor"
            class="img-fluid w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Lets's Explore the website</h5>
            <p>
              We empower and try to give you the best predicted result possible
              by the machine learning algorithms.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container mb-0">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Predict result of your choice</h1>
        <p class="fs-5 text-muted">
          Lets explore tests predict the result of any test you wish to do from
          feedback in the form.
        </p>
      </div>
    </div>

    <div id="contact" class="container-fluid mt-4 mb-0 bg-dark">
      <h5
        style="
          text-align: center;
          color: white;
          padding-top: 50px;
          padding-bottom: 50px;
        "
      >
        Made with love by ❤❤❤Suddhasattwa Khan<br />
        Email-khansuddhasattwa@gmail.com<br />
        Phone-NUmber:7992907269
      </h5>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
