<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Stroke_prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="#">MEDIC UP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analysis">Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Stroke Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contact Me</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </nav>

<div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="fw-normal">Fill this form to predict stroke.</h2>
            <p class=" text-muted"><b>A stroke occurs when the blood supply to part of your brain is interrupted or
                reduced, preventing brain tissue from getting oxygen and nutrients. Brain cells begin to die in minutes.</b>
            </p>
            <p class="text-danger"><b>{{prediction_text}}</b></p>
        </div>

    <div class="container">
            <form action="/stroke" method="POST">
                <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">Gender</label>
                    <select class="form-select" id="gender" name="gender" aria-label="Default select example">
                        <option selected>-- select gender --</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Age">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">Hypertension</label>
                    <select class="form-select" id="hypertension" name="hypertension" aria-label="Default select example">
                        <option selected>-- select Hypertension --</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">Heart Disease</label>
                    <select class="form-select" id="disease" name="disease" aria-label="Default select example">
                        <option selected>-- select Heart Disease --</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">Marrital status</label>
                    <select class="form-select" id="married" name="married" aria-label="Default select example">
                        <option selected>--select marrital status --</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">work type</label>
                    <select class="form-select" id="work" name="work" aria-label="Default select example">
                        <option selected>-- select work type --</option>
                        <option value="Self-employed">Self-employed</option>
                        <option value="Private">Private</option>
                        <option value="children">children</option>
                        <option value="Govt_job">Government Job</option>
                        <option value="Never_worked">Never_worked</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">Residence Type</label>
                    <select class="form-select" id="residence" name="residence" aria-label="Default select example">
                        <option selected>-- Select residence type --</option>
                        <option value="Urban">Urban</option>
                        <option value="Rural">Rural</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter average glucose level</label>
                    <input type="text" class="form-control" id="glucose" name="glucose" placeholder="Average Glucose level">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Body Mass Index (BMI)</label>
                    <input type="text" class="form-control" id="bmi" name="bmi" placeholder="Body Mass Index (BMI)">
                </div>               
                <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">Smoking status</label>
                    <select class="form-select" id="smoking" name="smoking" aria-label="Default select example">
                        <option selected value="Unknown">-- Select smoking status if unknown --</option>
                        <option value="never smoked">never smoked</option>
                        <option value="formerly smoked">formerly smoked</option>
                        <option value="smokes">smokes</option>
                    </select>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div>
            </form>
        </div><br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>